header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  z-index: 1000;
}
.logo {
    width: 60px;
    height: auto;
    display: block;
}
